.promo-text {
    font-size: 22px !important;
    font-family: Courier, sans-serif;!important;
}

#skillsCol {
    margin-left: 6%;
}

.skillsList li {
    font-family: Courier, serif;
    font-size: 18px;
    border-style: solid;
    border-color: cornflowerblue;
    border-width: 1.5px;
    border-radius: 5px;
    display: inline;
    padding: 1% 2.5% 1% 2.5%;
    margin-right: 4%;
    line-height: 3.25rem;
}

#websiteButton {
    color: white;!important;
}

#firebase {
    color: white;!important;
    background-color: orangered;
}

#html {
    color: white;!important;
    background-color: lightseagreen;
}

#ionic {
    color: white;!important;
    background-color: blue;
}

#angular {
    color: white;!important;
    background-color: magenta;
}

#java {
    color: white;!important;
    background-color: cornflowerblue;
}

#processing {
    color: white;!important;
    background-color: #5a6268;
}

#rails {
    color: white;!important;
    background-color: purple;
}

#ruby {
    color: white;!important;
    background-color: red;
}

#js {
    color: white;!important;
    background-color: green;
}

#bootstrap {
    color: white;!important;
    background-color: dodgerblue;
}

#droplet {
    color: white;!important;
    background-color: darkblue;
}

.tag {
    border-radius: 15px;
    padding: 1.5% 4% 1.5% 4%;
}

#websiteButton {
    background-color: dodgerblue;
    margin-right: 2%;
}

#githubButton {
    background-color: grey;!important;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -20%;
    margin-top: 40%;
    background: transparent;
    z-index: 1002;
    overflow: visible;
}

#boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "×";
}

#fade:hover ~ #boxclose {
    display:none;
}

.test:hover ~ .test2 {
    display: none;
}
